coverage==7.2.7
flasgger==0.9.7b2
Flask==2.3.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
jsonschema==4.17.3
pluggy==1.0.0
pydantic==1.10.9
PyJWT==1.4.2
pytest==7.3.2
PyYAML==6.0
SQLAlchemy==2.0.15
Werkzeug==2.3.4
black==23.7.0