{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Anime API
</h1>
<h2 class="subtitle">
  Playground to interact with a saple Anime DB with authentication and authorization in Flask.
</h2>
<p> 
  It creates a new sqlite (local FS DB) and populates it from data/anime.csv.
</p>
<hr>
<h2 class="subtitle">
  Methods:
</h2>
<p>
  <b>/all</b> will output first 100 animes, sorted by their anime ID.
</p>
<p>
  <b>/anime/[anime name]</b> lists all <b>[anime name]</b>'s details. Also any anime that contains <b>[anime name]</b> in its name.
</p>
<p>
  <b>/anime/add?[anime_id=str&name=str&type=str&genre=str&episodes=int&rating=str]</b> adds a new entry if absent (and/or lists it if already present).
</p>
<p>
  <b>/anime/update?anime_id=int[&ampparams]</b> will update <b>anime_id</b>'s params.
</p>
<p>
  <b>/anime/delete?anime_id=int</b> deletes <b>anime_id</b> from the DB.
</p>
<hr>
<h2 class="subtitle">
  How to run it:
</h2>
<p>
export FLASK_APP=animes
export FLASK_SECRET_KEY=b'your_secret_key'
flask run
</p>
{% endblock %}